/* Vars section */

:root {
    --site-background-color: rgb(79, 80, 82);
    --topbar-background-color: #333;
    --topbar-text-color: rgb(246, 189, 4);
    --topbar-height: 50px;
    --about-show-text-color: rgb(208, 208, 208);
    --menubar-button-text-color: rgb(184, 188, 191);
    --menubar-font-size: 0.80em;
    /* Layout size*/
    --button-bar-width: 10%;
    --main-content-width: 75%;
    --about-show-width: 15%;
}

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--site-background-color);
    margin: 0;
}


/* -------------------------- Zone: Top ------------------------- */

div.topbar {
    background-color: var(--topbar-background-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div.topbar p {
    color: var(--topbar-text-color);
    padding: 0px;
    border: 0px;
    margin: 15px;
}

div.form-logout {
    position: fixed;
    /* border: 5px solid #fa8072; */
    top: 0;
    margin: 10px;
}

#username-txt {
    position: fixed;
    right: 82px;
    top: 17px;
    font-size: var(--menubar-font-size);
    color: var(--topbar-text-color);
}

#lbl-logout {
    position: fixed;
    right: 10px;
    top: 15px;
}


/* --------------------- Zone: Left (Button zone) -------------------------- */

div.menubar {
    background-color: var(--topbar-background-color);
    overflow: hidden;
    position: fixed;
    left: 0;
    width: var(--button-bar-width);
    top: var(--topbar-height);
    height: 100vh;
}


/* Style the buttons inside the tab */

div.menubar button {
    display: block;
    background-color: inherit;
    color: var(--menubar-button-text-color);
    padding: 22px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: var(--menubar-font-size);
}


/* Change background color of buttons on hover */

div.menubar button:hover {
    background-color: var(--site-background-color);
    color: white;
}


/* Create an active/current "tab button" class */

div.menubar button.active {
    color: var(--topbar-text-color);
}


/* -------------------------- Zone: CENTER ------------------------- */

.main-content {
    position: fixed;
    top: var(--topbar-height);
    left: var(--button-bar-width);
    padding: 0px 0px;
    width: var(--main-content-width);
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
}


/* -------------------------- Zone: Right -------------------------- */

div.about-show {
    float: right;
    /*
    border: 5px solid #ccc;
    */
    background-color: var(--site-background-color);
    width: var(--about-show-width);
    height: 100vh;
    font-size: 0.775em;
    font-weight: lighter;
}

#about-show-empty-zone {
    float: top;
    border: 17px solid var(--site-background-color);
}

#about-show-title {
    float: top;
    border: 0px solid #ccc;
    margin: 5px;
    color: var(--about-show-text-color)
}

#about-show-title p {
    margin: 0px;
    font-size: 1.2em;
    color: var(--topbar-text-color);
}

#about-show-description {
    float: top;
    border: 0px solid #aaa;
    margin: 5px;
    color: var(--about-show-text-color);
}

#about-show-description p {
    margin: 0px;
    font-size: 1.2em;
    color: var(--topbar-text-color);
}

#about-show-year {
    float: top;
    border: 0px solid #aaa;
    margin: 5px;
    color: var(--about-show-text-color);
}

#about-show-year p {
    margin: 0px;
    font-size: 1.2em;
    color: var(--topbar-text-color);
}

#about-show-sinopsis {
    float: top;
    border: 0px solid #aaa;
    margin: 5px;
    color: var(--about-show-text-color);
}

#about-show-sinopsis p {
    margin: 0px;
    font-size: 1.2em;
    color: var(--topbar-text-color);
}

/* -------------------------- Searcher -------------------------- */
div.show-searcher {
    position: absolute;
    top: 8px;
    left: 30%;
}

input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}

input:valid ~ span:after {
    content: '✓';    
    padding-left: 5px;
    position: absolute:
}

input {
    border: 1px solid var(--menubar-button-text-color);
    color:  var(--topbar-text-color);
    background-color:  var(--topbar-background-color);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.0em;
    font-weight: lighter;        
}

div.search-results p {
    color:  var(--topbar-text-color);
    padding: 5px;
    
}
