.show-container {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    width: 140px;
}

.show-container:hover {
    border: 1px solid #fa8072;
}

/* Elemento de texto dentro del show-container con la fecha, formato ..*/

.show-box-text {
    display: block;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    font-size: 0.775em;
}

/* Titulo del show con Tooltip y recortado por puntos */

.show-box-title {
    width: auto;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875em;
    font-weight: bold;
    color: var(--menubar-button-text-color);
}

.show-box-session {
    width: auto;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875em;
    font-weight: bold;
}

.show-box-quality {
    display: block;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    font-size: 0.775em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Campo con la portada del show-container */

.show-box-img img {
    width: 100%;
    height: auto;
}

.show-box-img .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--topbar-background-color);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -120px;
}

.show-box-img:hover .tooltiptext {
    visibility: visible;
}

.showtv-episodes-container {
    text-align: center;
    margin: 1px;
    border: 0px solid #ccc;
    width: auto;
}

.showtv-episodes-container p {
    margin: 2px;
    border: 0px solid #ccc;
    padding: 0px;
    font-size: 0.875em;
}