<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ShowBox - Webcomponent Sample</title>
    <link rel="import" href="show-box.html">
</head>

<body>

    <show-box title="Repudio" quality="HDTV 720p" date="12-10-2003" urltodownload="http://tumejorjuego.com/redirect/index.php?link=descargar-torrent/100089_modern-family-temporada-9-hdtv-720p-cap-903-ac3-5-1-espaa-a-ol-castellano/"
        urlwithCover="http://tumejortorrent.com/pictures/c/2261_modern-family.jpg" />
</body>

</html>